<div class="auth-container">
  <mat-card class="auth-card">
    <mat-card-header>
      <mat-card-title>Εγγραφή Χρήστη</mat-card-title>
      <mat-card-subtitle>Συμπληρώστε τα στοιχεία σας</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div class="auth-form">
        
        <mat-form-field appearance="outline">
          <mat-label>Είμαι...</mat-label>
          <mat-select [(ngModel)]="userType" name="userType">
            <mat-option value="CITIZEN">Πολίτης</mat-option>
            <mat-option value="SHOP">Μαγαζί</mat-option>
          </mat-select>
          <mat-icon matSuffix>supervised_user_circle</mat-icon>
          <mat-hint>Επιλέξτε την ιδιότητά σας</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>ΑΦΜ</mat-label>
          <input matInput [(ngModel)]="userData.afm" name="afm" placeholder="π.χ. 012345678" required>
          <mat-icon matSuffix>fingerprint</mat-icon>
        </mat-form-field>

        <ng-container *ngIf="userType === 'CITIZEN'">
          <mat-form-field appearance="outline">
            <mat-label>Όνομα</mat-label>
            <input matInput [(ngModel)]="userData.name" name="name" placeholder="Το όνομά σας">
            <mat-icon matSuffix>person</mat-icon>
          </mat-form-field>
          
          <mat-form-field appearance="outline">
            <mat-label>Επώνυμο</mat-label>
            <input matInput [(ngModel)]="userData.surname" name="surname" placeholder="Το επώνυμό σας">
            <mat-icon matSuffix>groups</mat-icon>
          </mat-form-field>
        </ng-container>

        <ng-container *ngIf="userType === 'SHOP'">
          <mat-form-field appearance="outline">
            <mat-label>Επωνυμία Μαγαζιού</mat-label>
            <input matInput [(ngModel)]="userData.shopName" name="shopName" placeholder="π.χ. My Super Market">
            <mat-icon matSuffix>store</mat-icon>
          </mat-form-field>
        </ng-container>

        <mat-form-field appearance="outline">
          <mat-label>Κωδικός Πρόσβασης</mat-label>
          <input matInput type="password" [(ngModel)]="userData.password" name="password" placeholder="Εισάγετε κωδικό">
          <mat-icon matSuffix>vpn_key</mat-icon>
        </mat-form-field>

        <button mat-raised-button color="primary" class="auth-button" (click)="register()">
          ΔΗΜΙΟΥΡΓΙΑ ΛΟΓΑΡΙΑΣΜΟΥ
        </button>
      </div>
    </mat-card-content>

    <mat-card-footer>
      <div class="auth-footer-text">
        Έχετε ήδη λογαριασμό; <a routerLink="/login">Συνδεθείτε</a>
      </div>
    </mat-card-footer>
  </mat-card>
</div>