<mat-card class="filter-card">
  <form [formGroup]="filterForm" class="filter-container">
    
    <mat-form-field appearance="outline">
      <mat-label>Κατηγορία</mat-label>
      <mat-select formControlName="type">
        <mat-option [value]="">Όλες</mat-option>
        <mat-option *ngFor="let t of filteredTypes" [value]="t">{{t}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Μάρκα</mat-label>
      <mat-select formControlName="brand">
        <mat-option [value]="">Όλες</mat-option>
        <mat-option *ngFor="let b of filteredBrands" [value]="b">{{b}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Κατάστημα</mat-label>
      <mat-select formControlName="shopName">
        <mat-option [value]="">Όλα</mat-option>
        <mat-option *ngFor="let s of filteredShops" [value]="s">{{s}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Min Τιμή (€)</mat-label>
      <input matInput type="number" formControlName="minPrice" placeholder="0">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Max Τιμή (€)</mat-label>
      <input matInput type="number" formControlName="maxPrice" placeholder="100">
    </mat-form-field>

    <div class="filter-actions">
      <button mat-button color="warn" type="button" (click)="clearFilters()">
        <mat-icon>restart_alt</mat-icon> ΚΑΘΑΡΙΣΜΟΣ
      </button>
      
      <button mat-raised-button color="primary" type="button" (click)="applyFilters()">
        <mat-icon>search</mat-icon> ΑΝΑΖΗΤΗΣΗ
      </button>
    </div>

  </form>
</mat-card>