<div class="auth-container">
  <img class="background-image-logo" src="assets/images/background.jpg" alt="Logo image">
  <img class="logo" src="assets/images/logo-no-bg.png" alt="Logo image">
  <mat-card class="auth-card">
    <mat-card-header>
      <mat-card-title>Σύνδεση Χρήστη</mat-card-title>
      <mat-card-subtitle>Εισάγετε τα στοιχεία σας για να συνεχίσετε</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form #loginForm="ngForm" class="auth-form">
        
        <mat-form-field appearance="outline">
          <mat-label>ΑΦΜ</mat-label>
          <input matInput [(ngModel)]="loginData.username" name="username" 
                 required minlength="4" maxlength="9" #afmModel="ngModel">
          <mat-icon matSuffix>badge</mat-icon>
          <mat-error *ngIf="afmModel.invalid && afmModel.touched">
            Το ΑΦΜ πρέπει να είναι 9 ψηφία
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Κωδικός Πρόσβασης</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" 
                 [(ngModel)]="loginData.password" name="password" required>
          <button type="button" mat-icon-button matSuffix (click)="hide = !hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

        <button mat-raised-button color="primary" class="auth-button" 
                [disabled]="loginForm.invalid" (click)="onLogin()">
          ΕΙΣΟΔΟΣ
        </button>
      </form>
    </mat-card-content>

    <mat-card-footer>
      <div class="auth-footer-text">
        Δεν έχετε λογαριασμό; <a routerLink="/register">Εγγραφείτε εδώ</a>
      </div>
    </mat-card-footer>
  </mat-card>
</div>